    <div class="left">
        <header>
        <button id="toggle" class="toggle">
            <i class="fa fa-bars fa-2x"></i>
        </button>
        <h1><span data-text="~CodeHart~">~CodeHart~</span> installaion</h1>
        <p>Begin CodeHart Installation SetUp.</p>
        <button class="cta-btn" id="toggle2">Try Demo</button>
        <button class="cta-btn" id="open">Demo</button>
        </header>

    </div>
    <div class="right">
        <form class="user-form" action="./form" method="post" id="">
            <div class="modal-header">
                <h3>Login Account</h3>
            </div>
            <div class="modal-content">
                <div class="modal-form">
                    <div>
                        <label for="">Email</label>
                        <input type="text" name="email" class="form-input">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="password" name="password" class="form-input">
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </div
            </div>
        </form>
    </div>
