
    <header>
      <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <h1><span data-text="~CodeHart~">~CodeHart~</span> installaion</h1>
      <p>Begin CodeHart Installation SetUp.</p>
      <a href="./auth/destroy" class="cta-btn">Logout</a>
      <button class="cta-btn" id="open">Update</button>
    </header>
    <div class="container">
        <h3>FrameWork Features</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas assumenda asperiores dignissimos! Provident, esse, soluta ad numquam hic saepe deleniti, aut eveniet tempore fugiat eius necessitatibus iusto eum? Placeat, aliquam!</p>
        <ul>
            <li>Create</li>
            <li>Read</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>
    </div>
