<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../../Public/install/fa/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeHart</title>
</head>
<body>
    <header class="header">
        <div class="icon" id="toggle">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <h2 class="heading">CodeHart Installation</h2>
        <span>Begin CodeHart Installation SetUp.</span>
        <div class="btn-container">
            <button class="btn">Try Demo</button>
            <button class="btn">Demo</button>
        </div>
    </header>
    <nav>
        <ul>
            <li> <i class="fa fa-home"></i> Home</li>
            <li> <i class="fa fa-user"></i> Account</li>
            <li> <i class="fa fa-ban"></i> FAQ</li>
            <li> <i class="fa fa-book"></i> Documentation</li>
            <li><i class="fa fa-cog"></i>Settings</li>
        </ul>
    </nav>
</body>
<script>
    let btn = document.getElementById('toggle')
    let body = document.querySelector('body')
    let icon = document.querySelector('div.icon')
    btn.addEventListener('click', function(){
        if(body.className == 'show'){
            body.className = ''
            icon.innerHTML = '<i class="fa fa-bars fa-2x"></i>'
        }else{
            body.className = 'show'
            icon.innerHTML = '<i class="fa fa-close fa-2x"></i>'
        }
        
    })
</script>
</html>